<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="World_Backup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <World_Backup.Properties.Settings>
            <setting name="BACKUP_HISTORY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DURATION_INDEX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TIME_INTERVAL_HOURS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TIME_INTERVAL_MINUTES" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TIME_INTERVAL_SECONDS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FOLDER_TO_BACKUP" serializeAs="String">
                <value />
            </setting>
            <setting name="FOLDER_TO_SAVE" serializeAs="String">
                <value />
            </setting>
            <setting name="AUTOSTART" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WINDOW_POSITION" serializeAs="String">
                <value>150, 150</value>
            </setting>
        </World_Backup.Properties.Settings>
    </userSettings>
</configuration>
